[Unit]
Description=AGL Input Event Manager
Requires=dbus.service
After=dbus.service

[Service]
User=root
Type=dbus
BusName=org.agl.inputeventmanager
ExecStart=/usr/AGL/homescreen/InputEventManager
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
